# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
build/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env

# Database Files
server/data/*.sqlite
server/data/*.sqlite-journal
server/data/*.sqlite-wal
server/data/*.sqlite-shm
*.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
